*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Roboto', sans-serif;

}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,500&display=swap');

body{
    width: 100vw;
    overflow-x: hidden;
    padding: 10px 0 0 0 ;
    font-family: 'Roboto', sans-serif;

}
 button{
  cursor: pointer;
 }


 
 
.container{
    height: 100%;
    display: flex;
    flex-direction:column;
   /* padding: 50px;*/
    gap: 80px;
   
    

}


/*NAVIGATION SECTION*/
   .heading{
   
   display: flex;
   justify-content: space-between;
   font-weight: 500;
   padding: 25px 25px 0 110px;
   }


     .burger{
    display: none;
     }
   
 
        .heading a{
    color: #000;
    padding: 7px 20px ;
    border-radius: 7px;
   
   
        }

         .heading a:hover{
          background-color: #ded3cd;
    
      
     
                                   }

        .portcreat:hover,.book-a-call>:hover,.trusted-by h4:hover{
          transform: scale(1.2);
          border: none;
          transition: ease-in 0.4s;
   
 
                                   }
/*BOOK A CALL SECTION*/

 .i-design-product{
    display: flex;
    flex-wrap: wrap;
    padding:25px 0 0 110px;
   }

    
 .i-design-about{
    display: flex;
    flex-basis: 50%;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    gap: 30px;
   
 }
    
   
  .i-design-about h1{
    font-size:5vw;
    font-weight: bold;
  }
   
  .book-a-call{
     
     display: flex;
     gap: 25px;
     align-items: center;
     

  }

  .book-a-call button{
    display: flex;
    padding: 13px 19px;
    background: #000;
    color:#fff;
    cursor: pointer;
    font-size: 1.2vw;
  }
  .book-a-call a {
    color: #000;
    font-size: 1.4vw;
  }


  h1 span{
    color: #FF8A56
 }
   small{
    font-size: 1.5vw;
    align-items: center;
    

   }

 .i-design-img{
    flex-basis: 50%;
    /*height: 595px;*/
    display: flex;
    justify-content: flex-end;
    min-width: 300px;
    transform: translateY(-10%);
}
   

   .i-design-img img{
    width: 80%;
    height: 100%;
    object-fit: contain;
   }

  

/*TRUSTED BY SECTION*/  
    
.trusted-by{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  align-items: center;
  font-size: 1.4vw;
 
 
 
 

}
 
   .trusted-by-img{
      display: flex;
      justify-content: space-around;
      width: 80%;
     
   }
    
  
    
/*SERVICES SECTION*/

 .services-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  gap: 35px;
  width: 100%;
 }
  .services-section h2{
    align-items: center;
    color: #FF5E69;
    font-size: 2vw;
  }
   .services-section span{
    font-size: 3.8vw;
    font-weight: bold;
    padding:1vw;
   
   }

   .services-section p{
    color: #666666;
   }
    
   .services-cards{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     padding-top: 25px;
     gap: 20px;
     
    
   }
      .service-left, .service-right , .service-middle{
      display: flex;
      flex-direction: column;
      gap: 15px;
      flex-basis: 32%;
      padding:  0 0px 10px 0px ;
      min-width: 350px;
      box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.3);
     
      
    }
      .service-left:hover, .service-middle:hover, .service-right:hover{
        background-color:#ece7e4;
        transform: scale(1.09) ;
        transition: ease-in .4s;
      }
     
       .services-cards p, .services-cards ul, .services-cards h3 {
        padding: 0 0 0 30px;
      }

     
       ul {
        line-height: 35px;
        font-weight: bolder;
        list-style-type: square;
        padding-left: 40px;
       }

       .service-icons{
        height: 130px;
        width: 153px;
      
      
        
       }

       
       
      

 /*PROJECT SECTION*/

.project-section{
  display: flex;
  flex-direction: column;
  gap: 50px;
  z-index: 999;

} 
.project-section h6{
  font-size: 1.5vw;
  color: #B16CEA;

}

.project-section p{
  font-size: 3.5vw;
  font-weight: bold;
}

.project-text{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  padding: 0 50px 20px 110px ;

}
 .see-more{
  display: flex;
  justify-content: space-between;
  align-items: center;

 
 
 
  
  
 }

 .see-more button{
 
 font-size: 1.4vw;
 background-color: #000;
 color: #fff;
 padding: 15px 25px;
 }

 .project-section-images{
  display: flex;
  gap: 20px;
  justify-content: flex-end;
 
  
  
 
 }

   .project-section-images .project-images{
    
    width: 410px;
    height: 468px;
   
   
   }
       
   .project-images .project-top-img{
    width: inherit;
    height: 305px;
   }
    .project-images .project-top-img img{
      width: 100%;
      height: 100%;

    }

   .project-images .project-bottom-img{
    height: 163px;
    width:410px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    font-size: 1.4vw;
    background: #fff;
    
   }

   
    .project-bottom-img h5{
      color: #3C46FF;
      font-size: 1.2vw;
      letter-spacing: 4px;
      text-transform: uppercase;

    }

    .project-bottom-img h3{
      font-size: 1.7vw;
      font-weight: 700;
    }

    .project-bottom-img a{
      color: #000;
    }
   

   /*LATEST BLOG SECTION*/

   .latest-blogs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    color: #fff;
    background: #000;
    height: 1400px;
    
  
   }

   .blog-nav{
    display: flex;
    width: 100%;
    background: #000000;
    height: 300px;
    flex-direction: row-reverse;
    margin-top: -290px;
    /*border: 1px solid;*/
    
   
   
   }
    .nav-button{
     display: flex;
     padding: 0px 50px 10px 0 ;
     gap: 8px;
     align-self: flex-end ;
     
    

    
    
     
     
    }

    .nav-buttons{
      background-color: #fff;
      color: #000;
      padding: 19px 25px;
      align-items: center;
    }
     .nav-buttons:hover{
      background-color: #f0e4df;
      transform: scale(1.1);
     }


   .left-blog{
    display: flex;
    flex-direction: column;
    min-width: 350px;
    width: 42%;
    font-size: 2vw;
    line-height: 70px;
    padding-left: 110px;

   
   }
   
   .left-blog a, .right-blog a{
    color: #fff;
    font-size: 18px;
    
   } 

  .right-blog{
    display: flex;
    width:52%;
    flex-direction: column;
    gap: 40px;
    min-width: 350px;
    line-height: 40px;
    padding-right: 50px;
   
   
  }

  .right-blog p{
    font-size: 2vw;
    font-weight: bold;
  }
  
 

   .mini-blog{
    display: flex;
    flex-direction: column;
    height:200px;
    border-bottom: 1px solid rgb(151, 149, 149);
   }


/*PRODUCT DESIGNER SECTION*/


 .product-designer-section{
  display: flex;
  flex-direction: column;
  padding:0 50px 0 110px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

 
 }
   .thatsme-section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 305px;
    padding-bottom: 25px;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

   
   
   }
   .thatsme{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   }

   .thatsme h1{
    font-size: 3.9vw;
   }

   .thatsme h5{
    font-size: 2.2vw;
    color: #FF5E69;
   
   }

   .thatsme-section p{
    color: #666666;
    font-size: 1.7vw;
    line-height: 40px;

   }
    .product-images{
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      gap: 11px;
    }

     .product-right{
      flex-basis:25%;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .product-left{
    display: flex;
    flex-basis: 25%;
   }
    .product-middle{
     display: flex;
     flex: 1;
  }

  /*EDUCATION SECTION*/

  .education-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:10px 50px 0 110px;
    gap: 70px;

  }
  .education{
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-width: 45%;
  }

  .stand, .small{
    display: flex;
    justify-content: space-between;
    
  }

  .education-section small{
    font-size: 15px;
    color: #666;
  }

  .experience{
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-width: 46%;
  }
   .edu{
    display: flex;
    gap: 10px;
  }

   .standford{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e6e5e5;
    padding: 15px 0;
    height: 80px;
    gap: 10px;
    justify-content: center;
  }

  .space h5, .standford h5{
    font-size: 24px;
  }

  
  

 /*Testimonials section*/
  .wordonstreet-section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 40px;
    padding-left: 110px;
   
   
    
  }
  

  .wordleft{
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex-basis: 20%;
   
    
  

  }

  .wordleft img{
    min-width: 350px;
   
   
  }
  .wordleft h3{
    color: #4353FF;
    letter-spacing: 6px;
  }
    .wordleft h1{
      font-weight: bold;
      font-size: 3.7vw;
    }
  .wordright{
    display: flex;
    min-width: 350px;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 55px;
   
    flex:1;
  }



  .wordright h4{
    font-size: 2.6vw;
    font-weight: bolder;
    
  }

  .wordright-right{
    display: flex;
    flex-direction: column;
    padding-top: 185px;
    gap: 30px;
  }
   
   

  .frankin{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 15px;}

    .frankin .nav-button .nav-buttons{
      background-color: #000;
      
     
    }
     .frankin .nav-button{
      padding-right: 50px;
      gap: 0;
     }

    .frankin .name{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .frankin .name h6{
      font-size: 20px;
      font-weight: bolder;
    }


     /*FAQ SECTİON*/

    .faq-section{
      display: flex;
      flex-wrap: wrap;
      padding: 0 30px 0 110px;
      justify-content: space-evenly;
      flex-direction: column;
      background-color: #000;
      height: 900px;
      color: #fff;
      
     
    }
   .faq-questions{
    display: flex;
    justify-content: space-around;
    gap: 70px;
    
   }
   .question-left-right{
    display: flex;
    flex-basis: 45%;
    flex-direction: column;
    justify-content: space-between;
   
  
   }

   .question{
    display: flex;
    padding:25px 0 45px 0 ;
    border-bottom: 1px solid #282828;
    justify-content: space-between;
    gap: 15px;
   }


  
   .faq-section h5{
    font-size: 4vw;
    
   }
   .faqname{
    text-align: center;}
   
   

   .question h5{
    font-size: 1.7vw;
   }
  
 /*ready srction*/

 .ready-section{
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  gap: 80px;
  height:700px;
  padding: 70px 30px 0px 110px;
  margin-top: -80px;
  justify-content: center;
}
 .ready{
  display: flex;
  justify-content: space-between;

 }

 .mail-section{
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #5C5C5C;
  flex-basis: 45%;
 }

 .ready-more{
  padding-right:30px;
  display: flex;
  gap: 70px;
  flex:1;
  justify-content: flex-end;
  
 }

 .ready-more a{
  color: #ffffff;
  padding: 25px 15px;
  font-weight: bolder;
 }

 .ready-more .more-experience{
  display: flex;
  flex-direction: column;
 }


 .ready-section h5{
  font-size: 4vw;
 }
 
 
 footer{
  display: flex;
  gap :10px;
 }

 footer a{
  color: #8A95AD;
  
 }


/*MEDIA*/


       @media(max-width:768px){
       
        .burger{
            display: flex;
            visibility: visible;
        }
        .links{
            display: none;
            
        }
        .i-design-product{
          flex-wrap: nowrap;
          flex-direction: row;
        }

        .i-design-product small{
          font-size: 17px;
        }

         .i-design-img{
          transform: translate(0);
         }
        .trusted-by h4 , 
        .project-section h6, 
        .faq-section small, 
        .services-section h5,
        .product-designer-section h5{
          font-size: 18px;
        }

        .services-cards{
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          width: 70%;
        }

        .service-left, .service-middle, .service-right{
          width: 100%;
          align-items: ;
        }

        .services-section p{
          font-size: 20px;
        }
           
        
        .project-section{
            flex-wrap: nowrap;
           }
        .project-text{
          
        }
           
        .project-bottom-img h5, 
        .project-bottom-img h3,
        .project-bottom-img a {
          font-size: 17px;


        }

        .left-blog{
          flex-direction: row;
          gap: 40px;
         
         
        }

        .left-blog, .right-blog{
          width: 100%;
          padding:  0 55px;

        }
        .mini-blog small,
        .mini-blog p,
        .mini-blog a{
          font-size: 19px;
        }

        .over p{
          font-size: 19px;
        }
         .product-designer-section{
          padding: 0 30px;
          align-items: center;
          flex-wrap: wrap;
          
         }
         .product-right , .product-middle {
          width: 25%;
         }

         .product-right{
          flex-direction: row;
         }

         .education-section{
          flex-wrap: nowrap;
          padding: 0 20px;
          
         }
         .education , .experience{
          width: 20%;
         }






        }

         


          

      
          

            /*THANKS FOR YOUR PATIENT*/